/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 23, 2016, 4:29:38 PM
    Author     : Alex-Laptop
*/

textarea {
    resize: none;
}

.btn-toolbar {
	text-align: center;
}

.clickable {
    cursor:pointer;
}

.full-circle {
    border-radius:50%;
    border:3px solid black;
    position:absolute;
    text-align:center;
    width:20px;
    height:20px;
}

p.speech {
  position: relative;
  width: 200px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  background-color: #fff;
  border: 8px solid #666;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 2px 2px 4px #888;
  -moz-box-shadow: 2px 2px 4px #888;
  box-shadow: 2px 2px 4px #888;
}

.table.table-striped .minimal_cell {
    background: none;
    border-width: 0;
}

.glyphicon
{
    display: inline-block;
}

.row {
    margin:0px;
}

.form-horizontal .control-label{
    text-align:left;
}

body {
    background-color: rgb(255,255,255);
}

.form-group {
    margin: 0px 0px 15px 0px;
}

.form-control.is-focused {
    color: rgb(63,81,181);
}

.form-horizontal {
    padding: 15px;
}

.navbar.navbar-inverse {
    background-color: rgb(52,57,66);
}

.navbar.navbar-fixed-top {
    position: relative;
}

.panel.panel-default > .panel-heading {
    background-color: rgb(33,150,243);
}

.modal-content .modal-header {
    padding-top: 19px;
}

.active td {
    background-color: rgba(33,150,243,0.4) !important;
}

.list-group .list-group-separator:before {
  content: "";
  width: -webkit-calc(100%);
  width: calc(100%);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  float: right;
}

@media (max-width: 767px) {
  .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
}
@media (max-width: 767px) {
  .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
}