/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 29, 2016, 11:04:09 AM
    Author     : Alex-Laptop
*/

[id^="icone"] {
    position: absolute;
}

#row_mes {
    margin-top: 0px;
}

.parametre {
    position: relative;
    height: 27px;
    bottom: -6px;
    display: inline-block;
    padding: 0px;
    font-size: 14px;
    color: black;
}

hr {
    border-color: rgba(0,0,0,0.5);
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 0px;
}

[id^="libelle_"] {
    padding-bottom: 0px;
}

#libelle_pronom {
    font-size: 16px;
}

p {
    position: relative;
    bottom: -7px;
}

#libelle_pronom {
    bottom: -3px;
}

@media (min-width: 768px) {
    [id^="col-"] {
        padding: 10px;
    }
}

.checkbox {
    margin-left: 10px;
    margin-right: 10px;
}